* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: white;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: medium;
}

.navbar {
    background-color: #2c3e50;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: medium;
}

nav {
    background-color: #34495e;
    box-shadow:0 0 0 2px #1abc9c;
    margin-top: 0;
    top: 0;
    position: sticky;
    z-index: 999;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

nav li:first-child {
    margin-right: auto;
}

nav li:last-child {
    margin-right: 20px;
}

nav li {
    height: 60px;
    width: fit-content;
}

nav a {
    padding: 0 20px;
    height: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #ecf0f1;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    transition: color 0.5s ease, background-color 0.5s ease;
}

nav a:hover {
    color: #1abc9c;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    background-color: #2c3e50;
    backdrop-filter: blur(10px);
    box-shadow: -5px 5px 5px rgba(0, 0, 0, 0.142);
    display: none;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 999;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
    color: #ecf0f1;
    margin-left: 70px;
}

.sidebar a:hover {
    color: #1abc9c;
}

#btn, #btn1 {
    width: 60px;
    height: 35px;
    background: #ecf0f1;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    color: #2c3e50;
}

#btn1 {
    transition: 0.2s;
    cursor: pointer;
    font-size: 16px;
    height: 38px;
}

#btn1:hover, #btn1 a:hover {
    background-color: #2c3e50;
    color: #ecf0f1;
}

#btn:active, #btn:focus {
    background-color: #ecf0f1;
    box-shadow: 0px 0px 2px rgba(240, 237, 237, 0.967);
}

#btn1:active {
    background-color: #ecf0f1;
    box-shadow: 0px 0px 2px rgba(242, 241, 241, 0.967);
}

#btn a, #btn1 a {
    text-decoration: none;
    color: #2c3e50;
    font-style: bold;
}

#btn1 a {
    color: #ecf0f1;
}

.log a {
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    transition: 0.5s ease;
}

.log a:hover {
    transform: scale(1.1);
    text-decoration: none;
}

@media(max-width: 1000px) {
    .hide {
        display: none;
    }
}

@media(min-width: 1000px) {
    .hide1 {
        display: none;
    }
}

@media(max-width: 400px) {
    .hide {
        width: 100%;
    }
}

@media(max-width: 600px) {
    .hide {
        display: none;
    }
}

@media(max-width: 768px) {
    .hide {
        display: none;
    }
}

@media(max-width: 992px) {
    .hide {
        display: none;
    }
}

@media(max-width: 1200px) {
    .hide {
        display: none;
    }
}
